body{
    background-color: #ffffff;
}
p{
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
.wiki_title{
    font-family: sans-serif;
}
.wiki_main{
    border-top: 1px black solid;
    display: block;
    box-shadow: 20px black solid;
}
.wiki_text{
    font-size: 20px;
}
.wiki_version{
    margin-left: 50px;
}
.version{
    text-decoration: none;
}
.wiki_about{
    background-color: #dcebff;
    border: 1px black solid;
    width: 400px;
    font-family: sans-serif;
}
h2{
    text-align: center;
}
.menu{
    font-family: sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 2px 2px 4px black;
}
.menu ul{
    justify-content: center;
    display: flex;
}
.menu li{
    list-style-type: none;
    margin-left: 20px;
    font-size: 20px;
}
.wiki_banner{
    display: flex;
}
.wiki_banner_img{
    margin-top: 1%;
    margin-left: 27%;
}
.wiki_p_img{
    font-size: 30px;
    position: absolute; 
    top: 23%; 
    left: 50%;      
    transform: translate(-50%, -50%); 
    color: white; 
    text-shadow: 2px 2px 4px black;
}
.h1_tours{
    text-align: center; 
    margin-top: 100px;
    font-family: sans-serif;
}
.tours {
    margin-top: 50px;
    display: flex; 
    text-align: center;
    justify-content: center;
    font-family: sans-serif;
}
.tours .tour{
    margin-left: 20px;
    margin-right: 20px;
}
.tours img{
    width: 400px;
    height: 400px;
}
