body{
    background-color: #ffffff;
}
p{
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
.wiki_title{
    font-family: sans-serif;
}
.wiki_main{
    border-top: 1px black solid;
    display: block;
    box-shadow: 20px black solid;
}
.wiki_text{
    font-size: 20px;
}
.wiki_version{
    margin-left: 50px;
}
.version{
    text-decoration: none;
}
.wiki_about{
    background-color: #dcebff;
    border: 1px black solid;
    width: 400px;
}
h2{
    text-align: center;
}
.menu{
    display: flex;
}
.menu ul{
    display: flex;
}
.menu li{
    list-style-type: none;
    margin-left: 20px;
    font-size: 20px;
}
.wiki_banner{
    display: flex;
}
.wiki_banner_img{
    width: 570;
    height: 500;
}
.wiki_p_img{
    position: absolute; 
    top: 50%; 
    left: 20%;      
    transform: translate(-50%, -50%); 
    color: white; 
    text-shadow: 2px 2px 4px black;
}